# Ignorar o arquivos txt
api_key.txt
email_sender_config.txt

# Ignorar o arquivo main
Main.java
Main.class

# Ignorar arquivos a serem implementados posteriormente
CacheCreator.java
CacheCreator.class

# Ignorar os pacotes externos
lib/activation-1.1.jar
lib/aspose-email-22.11-jdk16.jar
lib/commons-email-1.1.jar
lib/javax.mail.jar